body {
  background-color: #EDEEC0;
  margin: 0;
  font-family: Arial, sans-serif;
}


/*https://vm.tiktok.com/ZNecWNPfy/*/
nav {
  background-color: #8E9775;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

a {
  position: relative;
  cursor: pointer;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: color 0.25s, background-color 0.25s;
}

a::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #3C6E71;
  transform: scale(1, 0);
  z-index: -1;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  border-radius: 8px;
}

a:hover {
  color: #FFF;
  background-color: #3C6E71;
}

a:hover::after {
  transform: scale(1, 1);
}

/* Teksti kujundus */
.text-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.suurem {
  font-size: 5vW;
}

.väiksem {
  font-size: 2vW;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}


/* Tartu tekst */
/*https://codepen.io/argyleink/pen/MWoeoKV*/
.paint-order {
  paint-order: stroke fill markers;
  padding-top: 1px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1ch;
  line-height: 0.9;
  color: white;
  -webkit-text-stroke: 3px black;
  text-shadow: 5px 5px black;
  letter-spacing: 0.1ch;
}

.paint-order > div {
  display: flex;
  gap: 0.5ch;
}


/* Kursori efekt */
/* https://youtu.be/UqHILyzcULE?si=dfUZL0VWj44nrmyC */
.animeeri {
  font-size: 34px;
  font-weight: 600;
  color: #2E2C2F;
  position: relative;
  display: inline-block;
}

/* Blinking cursor */
.animeeri span::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: #3C6E71;
  margin-left: 2px;
  animation: blink 0.7s steps(2) infinite;
}


p {
  font-size: 1.5rem;        
  color: #2E2C2F;          
  font-weight: 600;          
  line-height: 1.8;          
  margin-top: 20px;          
  text-align: left;
}



/* Tartu pilt */
.image-section img {
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  float: right;
}

section {
  min-height: 100vh;
  padding: 2rem 12% 10rem;
}

