body {
  background-color: #EDEEC0;
  margin: 0;
  font-family: Arial, sans-serif;
  align-items: center;
}

nav {
  background-color: #8E9775;
  padding: 2rem; /* Increase padding to make the nav bar even taller */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 3rem; /* Increase gap to add more space between items */
}

a {
  position: relative;
  cursor: pointer;
  color: #f4f4f4;
  font-size: 32px; /* Increase font size for larger text */
  font-weight: bold;
  text-decoration: none;
  padding: 1.5rem 2rem; /* Increase padding for a larger clickable area */
  border-radius: 10px;
  transition: color 0.25s, background-color 0.25s;
}

a::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #3C6E71;
  scale: 1 0;
  z-index: -1;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  border-radius: 10px;
}

a:hover {
  color: #FFF;
  background-color: #3C6E71;
}

a:hover::after {
  scale: 1 1;
}